<div class="generic-container">
    <div class="panel panel-default">
		<div class="container">
		  <div class="row">
		    <div class="col">
		      <section>
		        <header class="header">
		          <div class="row">
		            <div class="col-md-4">
		              <h1>Artists Following</h1>
		            </div>
		            <div class="col-md-6">
		            </div>
		            <div class="col-md-2">
		            </div>
		          </div>
		        </header>
		      </section>
		
		      <section class="main">
		        <table class="table">
		          <thead>
		          <tr>
		            <th>#</th>
		            <th>Name</th>
		            <th></th>
		          </tr>
		          </thead>
		          <tbody>
		          <tr *ngFor="let artist of artists">
		            <th scope="row">{{artist.id}}</th>
		            <td>{{artist.name}}</td>
		            <td> </td>
		          </tr>
		          </tbody>
		        </table>
		      </section>
		    </div>
		  </div>
		</div>
	</div>
</div>